* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 21px;
    color: grey;
    background-color: black;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h1 {
    margin: 2.5% auto;
    font-size: 50px;
    color: white;
    
}

.imageContainer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}